<div class="container mt-4">
    <h2 class="text-center mb-4">Student Information</h2>
    <button class="btn btn-sm btn-secondary mb-4 px-3 py-3" routerLink="/create"><strong>Add Students</strong></button>
    <table class="table table-striped table-hover table-bordered align-middle">
        <thead class="table-dark">
            <tr>
                
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone #</th>
              
                <th scope="col">Department</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let std of studentList">          
                <td>{{std.id}}</td>
                <td>{{std.name}}</td>
                <td>{{std.email}}</td>
                <td>{{std.phone}}</td>               
                
                <td>{{std.department}}</td>
                <td>
                    <div class="d-flex justify-content-center gap-2">
                        <button class="btn btn-sm btn-primary px-3 py-1" *ngIf="std.id" (click)="editStudent(std.id)"><strong>Edit</strong></button>
                        <button class="btn btn-sm btn-danger px-3 py-1" *ngIf="std.id" (click)="deleteStudent(std.id)"><strong>Delete</strong></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>
